@font-face {
    font-family: 'SD Kukde';
    font-weight: 500;
    src: url('../font/SDKukdetopokki-aLt.otf') format('woff2');
}

.mob-list {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    width: 100%;
    text-align: center;
}

.mob-item {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    padding: 7px;
    overflow: hidden;
    background-color: #fff;
    margin: 0 5px 5px 0;
    display: inline-block;
}

.mob-item:hover {
    background-color: #e4a00c;
    transition: background-color 0.1s ease-in-out 100ms;
}

.mob-img {
    width: 45px;
    border-radius: 4px;
}

.opt-img {
    width: 38px;
    border-radius: 4px;
}

.opt-span {
    margin-left: 15px;
    font-weight: 600;
    font-size: 15px;
    vertical-align: middle;
}

.text-align-right {
    text-align: right;
}

.mob-level {
    margin-left: 7px;
}

.opt-img {
    width: 38px;
    border-radius: 4px;
}

.opt-span {
    margin-left: 15px;
    font-weight: 600;
    font-size: 15px;
    vertical-align: middle;
}

.mob-item > .mob-level {
    display: none;
}

.mob-item-selected {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    padding: 7px;
    overflow: hidden;
    background-color: #e4a00c;
    margin: 0 5px 5px 0;
    display: inline-block;
}

.mob-item-selected > .mob-level {
    display: none;
}

.mob-item-level {
    display: inline-flex;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    padding: 7px;
    overflow: hidden;
    background-color: #e4a00c;
    margin: 0 5px 5px 0;
    width: 48%;
}

@media (max-width: 576px) {
    .mob-item-level {
        width: 48%;
    }
}
@media (min-width: 577px) and (max-width: 720px) {
    .mob-item-level {
        width: 32%;
    }
}
@media (min-width: 721px) {
    .mob-item-level {
        width: 24%;
    }
}

.inf-img {
    width: 20px;
    border-radius: 10px;
}

.inf-border-green {
    border: 2px #22741C solid;
}

.inf-border-blue {
    border: 2px #49A2FF solid;
}

.inf-border-white {
    border: 2px #F0F0F0 solid;
}

.inf-border-pink {
    border: 2px #CFABA5 solid;
}

.inf-border-sky {
    border: 2px #7AF1FF solid;
}

.inf-border-mint {
    border: 2px #ACE929 solid;
}

.under-line-highlight-pink {
    background: linear-gradient(120deg, #FFD9EC, #FFD9EC);
    background-repeat: no-repeat;
    background-size: 102px 10%;
    background-position: 0px 68%;
}

.under-line-highlight-sky {
    background: linear-gradient(120deg, #DAD9FF, #DAD9FF);
    background-repeat: no-repeat;
    background-size: 102px 10%;
    background-position: 0px 68%;
}

.under-line-highlight-yellow {
    background: linear-gradient(120deg, #FAECC5, #FAECC5);
    background-repeat: no-repeat;
    background-size: 65px 10%;
    background-position: 0px 68%;
}

.result-mob-row {
    width: 50%;
    float: left;
}
.result-mob-name {
    vertical-align: middle;
    font-size: large;
    font-weight: 600;
    width: 100%;
}

.by-card {
    background: white;
    display: inline-block;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 19px;
    text-align: center;
    box-shadow: -1px 8px 24px -12px black;
}

.by-card-level {
    color: #EC9B3B;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 3px;
}

.by-card-name {
    font-size: 1.25em;
    color: black;
    font-weight: 900;
    margin-bottom: 5px;
}

.by-card-img {
    width: 40px;
    margin: 20px auto 20px auto;
    border-radius: 7px;
    text-align: center;
    position: relative;
}

.by-card-influence {
    background: #deb887;
    height: 40px;
    color: black;
    font-weight: 400;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.by-card-influence-container {
    border-right: none;
    width: 100%;
    float: left;
    padding: 7px 0px;
}

.by-card-influence-name {
    position: relative;
    font-size: 17px;
}

.mob-table-grid {
    display: grid;
}

@media (max-width: 840px) {
    .mob-table-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 841px) {
    .mob-table-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 465px) {
    .by-card {
        width: 145px;
    }
}

@media (max-width: 440px) {
    .summon-list, .synthesis-list {
        min-height: 444px;
    }
}

@media (min-width: 466px) {
    .by-card {
        width: 180px;
    }
}

@media (min-width: 441px) {
    .summon-list, .synthesis-list {
        min-height: 441px;
    }
}

@media (min-width: 530px) {
    .summon-list, .synthesis-list {
        min-height: 314px;
    }
}

@media (min-width: 980px) {
    .summon-list, .synthesis-list {
        min-height: 187px;
    }
}

.summon-list, .synthesis-list {
    background-image: url('../img/ui/bg_summon.png');
    background-repeat: repeat;
    list-style-type: none;
    display: inline-block;
    padding: 30px 0 30px 0;
    width: 100%;
    text-align: center;
    background-color: #000;
    border-radius: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.synthesis-slot-list {
    background-image: url('../img/ui/bg_summon_bag.png');
    background-repeat: repeat;
    list-style-type: none;
    display: inline-block;
    background-color: #888888;
    border-radius: 8px;
    padding: 0;
    padding-top: 5px;
    width: 100%;
    text-align: center;
    min-height: 190px;
    max-height: 300px;
    overflow-y: auto;
}

.summon-item {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    overflow: hidden;
    background-color: #fff;
    margin: 0 10px 10px 0;
    display: inline-block;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
    width: 80px;
    height: 111px;
    background-color: #272523;
}

.summon-item.flipped .summon-item-inner {
    transform: rotateY(180deg);
}

.summon-item-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.summon-item-front, .summon-item-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.summon-item-front {
    background-image: url('../img/ui/baram-card.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.summon-item-back {
    background-color: #272523;
    transform: rotateY(180deg);
}

.summon-item-back > .mob-img {
    width: 60px;
    border-radius: 4px;
    margin-top: 23px;
}

.summon-item.normal {
    background-color: #784220;
}

.summon-item.advanced {
    background-color: #2ED03C;
}

.summon-item.rare {
    background-color: #33A0E5;
}

.summon-item.treasure {
    background-color: #9C35E8;
}

.summon-item.legend {
    background-color: #9D221A;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.synthesis-item {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    overflow: hidden;
    background-color: #fff;
    margin: 0 10px 10px 0;
    display: inline-block;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
    width: 80px;
    height: 111px;
    background-color: #272523;
}

.synthesis-list > .synthesis-item {
    width: auto;
    height: auto;
}

.synthesis-item.flipped .synthesis-item-inner {
    transform: rotateY(180deg);
}

.synthesis-item-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.synthesis-item-front, .synthesis-item-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.synthesis-item-front {
    background-image: url('../img/ui/baram-card.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.synthesis-item-back {
    background-color: #272523;
    transform: rotateY(180deg);
}

.synthesis-item-span {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: white;
    background-color: #000;
    border-radius: 5px;
    margin-top: 3px;
}

.synthesis-item-back > .mob-img {
    width: 60px;
    border-radius: 4px;
    margin-top: 23px;
}

.red-ora {
	box-shadow: 0 0px 20px red;
}

.wait-item-container {
    display: inline-flex;
    font-size: 17px;
}

.wait-item-grid {
    display: grid;
    margin-left: 5px;
}

.btn-wait-confirm {
    margin-bottom: 5px;
    min-width: 50px;
    cursor: pointer;
}

.btn-wait-change {
    min-width: 50px;
    cursor: pointer;
}

.wait-item {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    padding: 7px;
    overflow: hidden;
    background-color: #fff;
    margin: 0 10px 10px 0;
    display: inline-flex;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}
.total-coast-container {
    background-image: url('../img/ui/bg_summon.png');
    border-radius: 10px;
    background-repeat: repeat;
    display: inline-block;
    padding: 8px;
}

.sp-total-coast {
    font-family: SD Kukde;
    margin-left: 8px;
    margin-right: 8px;
    color: white;
}

.bystyle-btn-red {
    font-family: SD Kukde;
    border-image: url('../img/ui/btn_red.png') 30 fill repeat;
    border-image-width: 19px;
    background-color: #AB442A !important;
    color: white;
}

.bystyle-btn-orange {
    font-family: SD Kukde;
    border-image: url('../img/ui/btn_orange.png') 30 fill repeat;
    border-image-width: 19px;
    background-color: #C47A28 !important;
    color: white;
}

.bystyle-tab {
    font-family: SD Kukde;
    color: white;
}

.bystyle-tab-on {
    border-image: url('../img/ui/tab_sub_on.png') 9 fill repeat !important;
    border-image-width: 9px !important;
    background-color: #B7522B !important;
}

.bystyle-tab-off {
    border-image: url('../img/ui/tab_sub_off.png') 9 fill repeat !important;
    border-image-width: 9px !important;
    background-color: #46240D !important;
}