.mob-list {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    width: 100%;
    text-align: center;
}

.mob-item {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    padding: 7px;
    overflow: hidden;
    background-color: #fff;
    margin: 0 5px 5px 0;
    display: inline-block;
}

.mob-item:hover {
    background-color: #e4a00c;
    transition: background-color 0.1s ease-in-out 100ms;
}

.mob-img {
    width: 45px;
    border-radius: 4px;
}

.opt-img {
    width: 38px;
    border-radius: 4px;
}

.opt-span {
    margin-left: 15px;
    font-weight: 600;
    font-size: 15px;
    vertical-align: middle;
}

.text-align-right {
    text-align: right;
}

.mob-level {
    margin-left: 7px;
}

.opt-img {
    width: 38px;
    border-radius: 4px;
}

.opt-span {
    margin-left: 15px;
    font-weight: 600;
    font-size: 15px;
    vertical-align: middle;
}

.mob-item > .mob-level {
    display: none;
}

.mob-item-selected {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    padding: 7px;
    overflow: hidden;
    background-color: #e4a00c;
    margin: 0 5px 5px 0;
    display: inline-block;
}

.mob-item-selected > .mob-level {
    display: none;
}

.mob-item-level {
    display: inline-flex;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    padding: 7px;
    overflow: hidden;
    background-color: #e4a00c;
    margin: 0 5px 5px 0;
    width: 48%;
}

@media (max-width: 576px) {
    .mob-item-level {
        width: 48%;
    }
}
@media (min-width: 577px) and (max-width: 720px) {
    .mob-item-level {
        width: 32%;
    }
}
@media (min-width: 721px) {
    .mob-item-level {
        width: 24%;
    }
}

.inf-img {
    width: 20px;
    border-radius: 10px;
}

.inf-border-green {
    border: 2px #22741C solid;
}

.inf-border-blue {
    border: 2px #49A2FF solid;
}

.inf-border-white {
    border: 2px #F0F0F0 solid;
}

.inf-border-pink {
    border: 2px #CFABA5 solid;
}

.inf-border-sky {
    border: 2px #7AF1FF solid;
}

.inf-border-mint {
    border: 2px #ACE929 solid;
}

.under-line-highlight-pink {
    background: linear-gradient(120deg, #FFD9EC, #FFD9EC);
    background-repeat: no-repeat;
    background-size: 102px 10%;
    background-position: 0px 68%;
}

.under-line-highlight-sky {
    background: linear-gradient(120deg, #DAD9FF, #DAD9FF);
    background-repeat: no-repeat;
    background-size: 102px 10%;
    background-position: 0px 68%;
}

.under-line-highlight-yellow {
    background: linear-gradient(120deg, #FAECC5, #FAECC5);
    background-repeat: no-repeat;
    background-size: 65px 10%;
    background-position: 0px 68%;
}

.result-mob-row {
    width: 50%;
    float: left;
}
.result-mob-name {
    vertical-align: middle;
    font-size: large;
    font-weight: 600;
    width: 100%;
}

.by-card {
    background: white;
    display: inline-block;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 19px;
    text-align: center;
    box-shadow: -1px 8px 24px -12px black;
}

.by-card-level {
    color: #EC9B3B;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 3px;
}

.by-card-name {
    font-size: 1.25em;
    color: black;
    font-weight: 900;
    margin-bottom: 5px;
}

.by-card-img {
    width: 40px;
    margin: 20px auto 20px auto;
    border-radius: 7px;
    text-align: center;
    position: relative;
}

.by-card-influence {
    background: #deb887;
    height: 40px;
    color: black;
    font-weight: 400;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.by-card-influence-container {
    border-right: none;
    width: 100%;
    float: left;
    padding: 7px 0px;
}

.by-card-influence-name {
    position: relative;
    font-size: 17px;
}

.mob-table-grid {
    display: grid;
}

@media (max-width: 840px) {
    .mob-table-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 841px) {
    .mob-table-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 465px) {
    .by-card {
        width: 145px;
    }
}

@media (max-width: 440px) {
    .summon-list, .synthesis-list {
        min-height: 444px;
    }
}

@media (min-width: 466px) {
    .by-card {
        width: 180px;
    }
}

@media (min-width: 441px) {
    .summon-list, .synthesis-list {
        min-height: 348px;
    }
}

@media (min-width: 530px) {
    .summon-list, .synthesis-list {
        min-height: 252px;
    }
}

@media (min-width: 980px) {
    .summon-list, .synthesis-list {
        min-height: 140px;
    }
}

.summon-list, .synthesis-list {
    list-style-type: none;
    display: inline-block;
    padding: 30px 0 30px 0;
    width: 100%;
    text-align: center;
    background-color: #000;
    border-radius: 10px;
}

.synthesis-slot-list {
    list-style-type: none;
    display: inline-block;
    background-color: #888888;
    border-radius: 8px;
    padding: 0;
    padding-top: 5px;
    width: 100%;
    text-align: center;
    min-height: 70px;
}

.summon-item {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    padding: 7px;
    overflow: hidden;
    background-color: #fff;
    margin: 0 10px 10px 0;
    display: inline-block;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.summon-item > .mob-img {
    width: 66px;
}

.summon-item.normal {
    background-color: #784220;
}

.summon-item.advanced {
    background-color: #2ED03C;
}

.summon-item.rare {
    background-color: #33A0E5;
}

.summon-item.treasure {
    background-color: #9C35E8;
}

.summon-item.legend {
    background-color: #9D221A;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.synthesis-item {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    padding: 7px;
    overflow: hidden;
    background-color: #fff;
    margin: 0 10px 10px 0;
    display: inline-block;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.synthesis-item-span {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: white;
    background-color: #000;
    border-radius: 5px;
    margin-top: 3px;
}

.red-ora {
	background: linear-gradient(180deg, #fff, red);
	animation: ora-gradient 5s ease infinite;
}

@keyframes ora-gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.wait-item-container {
    display: inline-flex;
    font-size: 17px;
}

.wait-item-grid {
    display: grid;
    margin-left: 5px;
}

.btn-wait-confirm {
    margin-bottom: 5px;
    min-width: 50px;
    cursor: pointer;
}

.btn-wait-change {
    min-width: 50px;
    cursor: pointer;
}

.wait-item {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    padding: 7px;
    overflow: hidden;
    background-color: #fff;
    margin: 0 10px 10px 0;
    display: inline-flex;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}